* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: white;
}

a:visited {
  color: white;
}

.header {
  background-image: url("../../images/header-bg.jpg");
  padding: 4rem;
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
}
.header div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 1.5rem 2.5rem;
  gap: 1rem;
}
.header hr {
  width: 100%;
  overflow: hidden;
  border: none;
  height: 1px;
  background-image: linear-gradient(to right, transparent, #0061a8, transparent);
}
.header h1 {
  font-weight: 400;
  font-size: 1.4rem;
  letter-spacing: 0.2rem;
}
.header h2 {
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.1rem;
}

.nav {
  background: #0061a8;
  box-shadow: 1px 1px 10px #444444;
  color: white;
}
.nav ul {
  display: flex;
  justify-content: flex-end;
}
.nav ul li {
  list-style: none;
  padding: 0.8rem 1.5rem;
  font-size: 0.9rem;
}

#portfolio {
  margin-top: 4rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}
#portfolio h2 {
  font-weight: 400;
}
#portfolio .blueHr {
  margin-top: 0.7rem;
  width: 100%;
  overflow: hidden;
  border: none;
  height: 1px;
  background-image: linear-gradient(to right, transparent, #0061a8, transparent);
}
#portfolio div {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#portfolio div .project {
  transition: 0.5s;
  position: relative;
}
#portfolio div .project:hover {
  filter: brightness(70%);
  transform: scale(0.9);
}
#portfolio div .project p {
  position: absolute;
  top: 50%;
  height: 100px;
  margin-top: -50px;
}
#portfolio div #one {
  background-image: url("../../images/projects/project8.png");
}
#portfolio div #two {
  background-image: url("../../images/projects/project2.png");
}
#portfolio div #three {
  background-image: url("../../images/projects/project3.png");
}
#portfolio div #four {
  background-image: url("../../images/projects/project4.png");
}
#portfolio div #five {
  background-image: url("../../images/projects/project7.png");
}
#portfolio div #six {
  background-image: url("../../images/projects/project6.png");
}
@media screen and (max-width: 820px) {
  #portfolio div #one,
#portfolio div #two,
#portfolio div #three,
#portfolio div #four,
#portfolio div #five,
#portfolio div #six {
    margin-bottom: 1rem;
  }
}
#portfolio div div {
  width: 350px;
  height: 250px;
  background-position: center;
  margin: 0 2rem;
}

@media screen and (min-width: 720px) {
  .projects {
    margin: 0;
  }
}
#skills {
  background: #0061a8;
  margin-top: 2rem;
}
#skills .containerGrid {
  display: flex;
  justify-content: center;
}
#skills .gridOfSkills {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  gap: 45px;
  padding-bottom: 1rem;
}
#skills i {
  font-size: 4rem;
  color: white;
  margin-top: 1rem;
}
#skills h2 {
  padding-top: 3rem;
  text-align: center;
  color: white;
  font-weight: 400;
}
#skills hr {
  margin-top: 0.7rem;
  width: 100%;
  overflow: hidden;
  border: none;
  height: 1px;
  background-image: linear-gradient(to right, transparent, #fff, transparent);
}
#skills #html {
  transition: 0.5s;
}
#skills #html:hover {
  color: #f06529;
  transform: scale(1.1);
}
#skills #css {
  transition: 0.5s;
}
#skills #css:hover {
  color: #2965f1;
  transform: scale(1.1);
}
#skills #js {
  transition: 0.5s;
}
#skills #js:hover {
  color: #f0db4f;
  transform: scale(1.1);
}
#skills #react {
  transition: 0.5s;
}
#skills #react:hover {
  color: #61dbfb;
  transform: scale(1.1);
}

#bootstrap {
  transition: 0.5s;
}
#bootstrap:hover {
  color: #563d7c;
  transform: scale(1.1);
}

#wordpress {
  transition: 0.5s;
}
#wordpress:hover {
  color: #444140;
  transform: scale(1.1);
}

#sass {
  transition: 0.5s;
}
#sass:hover {
  color: #cc6699;
  transform: scale(1.1);
}

#git {
  transition: 0.5s;
}
#git:hover {
  color: #f34f29;
  transform: scale(1.1);
}

#vue {
  transition: 0.5s;
}
#vue:hover {
  color: #42b883;
  transform: scale(1.1);
}

#php {
  transition: 0.5s;
}
#php:hover {
  color: #b0b3d6;
  transform: scale(1.1);
}

@media only screen and (max-width: 800px) {
  #skills div {
    column-gap: 10%;
  }
}
@media only screen and (max-width: 700px) {
  #skills div {
    column-gap: 15%;
  }
}
@media only screen and (max-width: 400px) {
  #skills div {
    column-gap: 20%;
  }
}
#contact #hrSeparator {
  margin-bottom: 3rem;
  margin-top: 0.7rem;
  width: 100%;
  overflow: hidden;
  border: none;
  height: 1px;
  background-image: linear-gradient(to right, transparent, #0061a8, transparent);
}
#contact h2 {
  padding-top: 3rem;
  text-align: center;
  font-weight: 400;
}
#contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#contact form input,
#contact form textarea {
  margin: 0 6rem;
  border: none;
  outline: none;
  align-self: flex-start;
  resize: none;
  font-size: 1rem;
}
#contact form .submit {
  padding: 0.8rem 1.5rem;
  border-radius: 0.4rem;
  align-self: center;
  background: #8ab6d6;
  color: #fff;
  font-weight: bold;
  transition: 0.5s;
}
#contact form .submit:hover {
  background: #2978b5;
}
#contact .hrForm {
  margin-bottom: 2rem;
  margin-top: 0.7rem;
  width: 80%;
  border: none;
  background-image: linear-gradient(to right, transparent, #0061a8, transparent);
  height: 1px;
}

footer {
  margin-top: 4rem;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  background: #0061a8;
}
footer div i {
  margin: 0 0.5rem;
  font-size: 1.5rem;
  color: white;
  transition: 0.5s;
}
footer div i:hover {
  color: #8ab6d6;
}

/*# sourceMappingURL=index.css.map */
